# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# results from testdata
testdata/*.pdf
testdata/*.log

# working directories
private/**
output/**
output2/**
input/**
plots/**
plots2/**

# Customer reports
report/visuals/**
report/*.tex
report/*.pdf

# log files
*.log
*.Rhistory
