# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# results from testdata
testdata/*.pdf

# working directories
private/**
output/**
input/**
plots/**

# log files
*.log
*.Rhistory
